.slider {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: -4px;
    @apply h-6 w-full appearance-none rounded-lg bg-gray-100 p-0 focus:shadow-none focus:outline-none focus:ring-0;
}